@{
    ViewBag.Title = "Admin Panel";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.madebytilde.com/elephant-v1.4.0/theme-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Dec 2017 06:35:21 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elephant Template &middot; The fastest way to build Modern Admin APPS for any platform, browser, or device.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#38c8dd">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="../../Content/admin/css/vendor.min.css">
    <link rel="stylesheet" href="../../Content/admin/css/elephant.min.css">
    <link rel="stylesheet" href="../../Content/admin/css/application.min.css">

    <link href="~/Content/css/mdb.min.css" rel="stylesheet"/>
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/admin/css/compose.min.css" rel="stylesheet"/>

</head>
<body class="layout layout-header-fixed">
<div class="layout-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="#">
                <img class="navbar-brand-logo" src="../../Content/admin/img/elephant.png" alt="Elephant">
            </a>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
                    <span class="bar-line bar-line-1 out"></span>
                    <span class="bar-line bar-line-2 out"></span>
                    <span class="bar-line bar-line-3 out"></span>
                </span>
                <span class="bars bars-x">
                    <span class="bar-line bar-line-4"></span>
                    <span class="bar-line bar-line-5"></span>
                </span>
            </button>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical">
                    <!--ŞEYDANIN PROFİL RESMİNİ KOYACAGIM.-->
                    <img class="ellipsis-object" width="32" height="32" src="../../Content/images/profil.jpg" alt="Şeyda KARTAL">
                </span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="" aria-expanded="true" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                        <span class="bar-line bar-line-1 out"></span>
                        <span class="bar-line bar-line-2 out"></span>
                        <span class="bar-line bar-line-3 out"></span>
                        <span class="bar-line bar-line-4 in"></span>
                        <span class="bar-line bar-line-5 in"></span>
                        <span class="bar-line bar-line-6 in"></span>
                    </span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-xs-block">
                        <h4 class="navbar-text text-center">Hi, Şeyda Kartal</h4>
                    </li>
                    <li class="dropdown hidden-xs">
                        <!--ŞEYDANIN PROFİL RESMİNİ KOYACAGIM.-->
                        <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                            <img class="circle" width="36" height="36" src="../../Content/images/profil.jpg" alt="Şeyda KARTAL">Şeyda KARTAL
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="divider"></li>
                            <li>
                                <a href="@Url.Action("SingOut","Admin")">Sign out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs-block">
                        <a href="#">
                            <span class="icon icon-power-off icon-lg icon-fw"></span>
                            Sign out
                        </a>
                    </li>
                </ul>
                <div class="title-bar">
                    <h1 class="title-bar-title">
                        <span class="d-ib">Tatlisim</span>
                        <span class="d-ib">
                        </span>
                    </h1>
                    <p class="title-bar-description">
                        <small>Seni çok seviyorum</small>
                    </p>
                </div>
            </nav>
        </div>
    </div>
</div> <!--ÜST MENU-->

<div id="divLoading">
</div>


<div class="layout-main">
<div class="layout-sidebar">
<div class="layout-sidebar-backdrop"></div>
<div class="layout-sidebar-body">
<div class="custom-scrollbar">
<nav id="sidenav" class="sidenav-collapse collapse">
<ul class="sidenav level-1">
<li class="sidenav-heading">Profil</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#103;</span>
        <span class="sidenav-label">Hakkımda Sayfası</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Hakkımda Sayfası</li>
        <li>
            <a href="@Url.Action("AboutMeEdit", "Admin")">Hakkımda</a>
        </li>
        <li>
            <a href="@Url.Action("SkillList", "Admin")">Yetenekler</a>
        </li>
        <li>
            <a href="@Url.Action("EducationList", "Admin")">Eğitim</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#40;</span>
        <span class="sidenav-label">İletişim Sayfası</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">İletişim Sayfasi</li>
        <li>
            <a href="@Url.Action("ContactEdit", "Admin")">İletişim Sayfası Giriş</a>
        </li>
        <li>
            <a href="@Url.Action("SocialMediaAdd", "Admin")">Sosyal Medya</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#73;</span>
        <span class="sidenav-label">Proje Bilgileri</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Proje Bilgileri</li>
        <li>
            <a href="@Url.Action("Projects", "Admin")">Projeler</a>
        </li>
        <li>
            <a href="@Url.Action("ProjectAdd", "Admin")">Proje Ekle</a>
        </li>  
    </ul>
</li>
    <li class="sidenav-item has-subnav">
        <a href="#" aria-haspopup="true">
            <span class="sidenav-icon icon icon-works">&#110;</span>
            <span class="sidenav-label">Kullanıcı</span>
        </a>
        <ul class="sidenav level-2 collapse">
            <li class="sidenav-heading">Kullanıcılar</li>
            <li>
                <a href="@Url.Action("Users","Admin")">Kullanıcılar</a>
            </li>
            <li>
                <a href="@Url.Action("CreateUser","Admin")">Kullanıcı Ekle</a>
            </li>
        </ul>
    </li>
    <li class="sidenav-item has-subnav">
        <a href="#" aria-haspopup="true">
            <span class="sidenav-icon icon icon-works">à</span>
            <span class="sidenav-label">Mailler</span>
        </a>
        <ul class="sidenav level-2 collapse" aria-expanded="false">
            <li class="sidenav-heading">Mailler</li>
            <li><a href="@Url.Action("Mails","Admin")">Gelen Mailler</a></li>
            <li><a href="@Url.Action("BlockList","Admin")">Bloklananlar</a></li>
        </ul>
    </li>

</ul>
</nav>
</div>
</div>
</div> <!--YAN MENU-->

<div class="layout-content">
    <div class="layout-content-body">
        @RenderBody()
    </div>
</div> <!--ICERİK-->

</div>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="../../Content/admin/js/vendor.min.js"></script>
<script src="../../Content/admin/js/elephant.min.js"></script>
<script src="../../Content/admin/js/application.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/mdb.js"></script>
<script src="~/Content/js/popper.min.js"></script>
</body>

</html>