@{
    ViewBag.Title = "Admin Panel";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.madebytilde.com/elephant-v1.4.0/theme-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Dec 2017 06:35:21 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elephant Template &middot; The fastest way to build Modern Admin APPS for any platform, browser, or device.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#38c8dd">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">

    <link rel="stylesheet" href="../../Content/admin/css/vendor.min.css">
    <link rel="stylesheet" href="../../Content/admin/css/elephant.min.css">
    <link rel="stylesheet" href="../../Content/admin/css/application.min.css">

    <link href="~/Content/css/mdb.min.css" rel="stylesheet"/>
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/admin/css/compose.min.css" rel="stylesheet"/>

</head>
<body class="layout layout-header-fixed">
<div class="layout-header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand navbar-brand-center" href="#">
                <img class="navbar-brand-logo" src="../../Content/admin/img/elephant.png" alt="Elephant">
            </a>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
                <span class="sr-only">Toggle navigation</span>
                <span class="bars">
                    <span class="bar-line bar-line-1 out"></span>
                    <span class="bar-line bar-line-2 out"></span>
                    <span class="bar-line bar-line-3 out"></span>
                </span>
                <span class="bars bars-x">
                    <span class="bar-line bar-line-4"></span>
                    <span class="bar-line bar-line-5"></span>
                </span>
            </button>
            <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="arrow-up"></span>
                <span class="ellipsis ellipsis-vertical">
                    <!--ŞEYDANIN PROFİL RESMİNİ KOYACAGIM.-->
                    <img class="ellipsis-object" width="32" height="32" src="#" alt="Şeyda KARTAL">
                </span>
            </button>
        </div>
        <div class="navbar-toggleable">
            <nav id="navbar" class="navbar-collapse collapse">
                <button class="sidenav-toggler hidden-xs" title="" aria-expanded="true" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                        <span class="bar-line bar-line-1 out"></span>
                        <span class="bar-line bar-line-2 out"></span>
                        <span class="bar-line bar-line-3 out"></span>
                        <span class="bar-line bar-line-4 in"></span>
                        <span class="bar-line bar-line-5 in"></span>
                        <span class="bar-line bar-line-6 in"></span>
                    </span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="visible-xs-block">
                        <h4 class="navbar-text text-center">Hi, Şeyda Kartal</h4>
                    </li>
                    <li class="dropdown hidden-xs">
                        <!--ŞEYDANIN PROFİL RESMİNİ KOYACAGIM.-->
                        <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                            <img class="circle" width="36" height="36" src="#" alt="Şeyda KARTAL">Şeyda KARTAL
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="divider"></li>
                            <li>
                                <a href="#">Sign out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="visible-xs-block">
                        <a href="#">
                            <span class="icon icon-power-off icon-lg icon-fw"></span>
                            Sign out
                        </a>
                    </li>
                </ul>
                <div class="title-bar">
                    <h1 class="title-bar-title">
                        <span class="d-ib">Tatlisim</span>
                        <span class="d-ib">
                        </span>
                    </h1>
                    <p class="title-bar-description">
                        <small>Seni çok seviyorum</small>
                    </p>
                </div>
            </nav>
        </div>
    </div>
</div> <!--ÜST MENU-->

<div id="divLoading">
</div>


<div class="layout-main">
<div class="layout-sidebar">
<div class="layout-sidebar-backdrop"></div>
<div class="layout-sidebar-body">
<div class="custom-scrollbar">
<nav id="sidenav" class="sidenav-collapse collapse">
<ul class="sidenav level-1">
<li class="sidenav-heading">Profil</li>
<li class="sidenav-item has-subnav active">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#103;</span>
        <span class="sidenav-label">Hakkımda Sayfası</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Hakkımda Sayfası</li>
        <li>
            <a href="@Url.Action("AboutMeEdit", "Admin")">Hakkımda</a>
        </li>
        <li>
            <a href="@Url.Action("SkillList", "Admin")">Yetenekler</a>
        </li>
        <li>
            <a href="@Url.Action("EducationList", "Admin")">Eğitim</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#40;</span>
        <span class="sidenav-label">İletişim Sayfası</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">İletişim Sayfasi</li>
        <li>
            <a href="@Url.Action("ContactEdit", "Admin")">İletişim Sayfası Giriş</a>
        </li>
        <li>
            <a href="@Url.Action("SocialMediaAdd", "Admin")">Sosyal Medya</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#73;</span>
        <span class="sidenav-label">Proje Bilgileri</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Proje Bilgileri</li>
        <li>
            <a href="@Url.Action("Projects", "Admin")">Projeler</a>
        </li>
        <li>
            <a href="@Url.Action("ProjectAdd", "Admin")">Proje Ekle</a>
        </li>  
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#110;</span>
        <span class="sidenav-label">Forms</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Forms</li>
        <li>
            <a href="cropper.html">Cropper</a>
        </li>
        <li>
            <a href="form-controls.html">Form controls</a>
        </li>
        <li>
            <a href="form-layouts.html">Form layouts</a>
        </li>
        <li>
            <a href="form-validation.html">Form validation</a>
        </li>
        <li>
            <a href="form-wizard.html">Form wizard</a>
        </li>
        <li>
            <a href="input-mask.html">Input mask</a>
        </li>
        <li>
            <a href="md-form-controls.html">Material form controls</a>
        </li>
        <li>
            <a href="md-form-validation.html">Material form validation</a>
        </li>
        <li>
            <a href="pickers.html">Pickers</a>
        </li>
        <li>
            <a href="select2.html">Select2</a>
        </li>
        <li>
            <a href="sliders.html">Sliders</a>
        </li>
        <li>
            <a href="toggles.html">Toggles</a>
        </li>
        <li>
            <a href="uploader.html">Uploader</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#97;</span>
        <span class="sidenav-label">Tables</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Tables</li>
        <li>
            <a href="static-tables.html">Static tables</a>
        </li>
        <li>
            <a href="responsive-tables.html">Responsive tables</a>
        </li>
        <li>
            <a href="bootstrap-tables.html">Bootstrap tables</a>
        </li>
        <li>
            <a href="datatables.html">Datatables</a>
        </li>
        <li>
            <a href="datatables-buttons.html">Datatables Buttons</a>
        </li>
        <li>
            <a href="datatables-responsive.html">Datatables Responsive</a>
        </li>
        <li>
            <a href="datatables-fixedheader.html">Datatables FixedHeader</a>
        </li>
        <li>
            <a href="datatables-rowreorder.html">Datatables RowReorder</a>
        </li>
        <li>
            <a href="datatables-colreorder.html">Datatables ColReorder</a>
        </li>
        <li>
            <a href="datatables-scroller.html">Datatables Scroller</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#61;</span>
        <span class="sidenav-label">Charts</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Charts</li>
        <li>
            <a href="peity.html">Peity</a>
        </li>
        <li>
            <a href="chartjs.html">Chart.js</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#38;</span>
        <span class="sidenav-label">Maps</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Maps</li>
        <li>
            <a href="vector-maps.html">Vector maps</a>
        </li>
        <li>
            <a href="google-maps.html">Google maps</a>
        </li>
    </ul>
</li>
<li class="sidenav-heading">Multi-Level Menu</li>
<li class="sidenav-item has-subnav">
    <a href="#multi-level-menu" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#103;</span>
        <span class="sidenav-label">With Icons</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">With Icons</li>
        <li class="sidenav-item has-subnav">
            <a href="#real-time">
                <span class="icon icon-works">&#105;</span>Real-Time
            </a>
            <ul class="sidenav level-3 collapse">
                <li class="sidenav-item has-subnav">
                    <a href="#overview">
                        <span class="icon icon-works">&#102;</span>Overview
                    </a>
                    <ul class="sidenav level-4 collapse">
                        <li class="sidenav-item has-subnav">
                            <a href="#top-keywords">
                                <span class="icon icon-works">&#83;</span>Top Keywords
                            </a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">
                                        <span class="icon icon-works">&#90;</span>Past 24h
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">
                                        <span class="icon icon-works">&#90;</span>Past 1wk
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">
                                        <span class="icon icon-works">&#90;</span>Past 1mo
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#top-locations">
                                <span class="icon icon-works">&#38;</span>Top Locations
                            </a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">
                                        <span class="icon icon-works">&#90;</span>Past 24h
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">
                                        <span class="icon icon-works">&#90;</span>Past 1wk
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">
                                        <span class="icon icon-works">&#90;</span>Past 1mo
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#top-referrals">
                                <span class="icon icon-works">&#57;</span>Top Referrals
                            </a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">
                                        <span class="icon icon-works">&#90;</span>Past 24h
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">
                                        <span class="icon icon-works">&#90;</span>Past 1wk
                                    </a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">
                                        <span class="icon icon-works">&#90;</span>Past 1mo
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="#traffic-sources">
                        <span class="icon icon-works">&#213;</span>Traffic Sources
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="#events">
                        <span class="icon icon-works">&#102;</span>Events
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a href="#audience">
                <span class="icon icon-works">&#80;</span>Audience
            </a>
        </li>
        <li class="sidenav-item">
            <a href="#behavior">
                <span class="icon icon-works">&#70;</span>Behavior
            </a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#multi-level-menu" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#103;</span>
        <span class="sidenav-label">Just Text</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Just Text</li>
        <li class="sidenav-item has-subnav">
            <a href="#real-time">Real-Time</a>
            <ul class="sidenav level-3 collapse">
                <li class="sidenav-item has-subnav">
                    <a href="#overview">Overview</a>
                    <ul class="sidenav level-4 collapse">
                        <li class="sidenav-item has-subnav">
                            <a href="#top-keywords">Top Keywords</a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">Past 24h</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">Past 1wk</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">Past 1mo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#top-locations">Top Locations</a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">Past 24h</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">Past 1wk</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">Past 1mo</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#top-referrals">Top Referrals</a>
                            <ul class="sidenav level-5 collapse">
                                <li class="sidenav-item">
                                    <a href="#past-24h">Past 24h</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1wk">Past 1wk</a>
                                </li>
                                <li class="sidenav-item">
                                    <a href="#past-1mo">Past 1mo</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="sidenav-item">
                    <a href="#traffic-sources">Traffic Sources</a>
                </li>
                <li class="sidenav-item">
                    <a href="#events">Events</a>
                </li>
            </ul>
        </li>
        <li class="sidenav-item">
            <a href="#audience">Audience</a>
        </li>
        <li class="sidenav-item">
            <a href="#behavior">Behavior</a>
        </li>
    </ul>
</li>
<li class="sidenav-heading">Pages</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#95;</span>
        <span class="sidenav-label">Authentication</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Authentication</li>
        <li>
            <a href="signup-1.html" target="_blank">Sign up 1</a>
        </li>
        <li>
            <a href="signup-2.html" target="_blank">Sign up 2</a>
        </li>
        <li>
            <a href="signup-3.html" target="_blank">Sign up 3</a>
        </li>
        <li>
            <a href="login-1.html" target="_blank">Login 1</a>
        </li>
        <li>
            <a href="login-2.html" target="_blank">Login 2</a>
        </li>
        <li>
            <a href="login-3.html" target="_blank">Login 3</a>
        </li>
        <li>
            <a href="password-1.html" target="_blank">Reset password 1</a>
        </li>
        <li>
            <a href="password-2.html" target="_blank">Reset password 2</a>
        </li>
        <li>
            <a href="password-3.html" target="_blank">Reset password 3</a>
        </li>
    </ul>
</li>
<li class="sidenav-item">
    <a href="contacts.html">
        <span class="sidenav-icon icon icon-works">&#80;</span>
        <span class="sidenav-label">Contacts</span>
    </a>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#224;</span>
        <span class="sidenav-label">Mailbox</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Mailbox</li>
        <li>
            <a href="mail.html">Mail 1</a>
        </li>
        <li>
            <a href="inbox.html">Mail 2</a>
        </li>
        <li>
            <a href="compose.html">Compose</a>
        </li>
    </ul>
</li>
<li class="sidenav-item">
    <a href="messenger.html">
        <span class="sidenav-icon icon icon-works">&#78;</span>
        <span class="sidenav-label">Messenger</span>
    </a>
</li>
<li class="sidenav-item">
    <a href="profile.html">
        <span class="sidenav-icon icon icon-works">&#112;</span>
        <span class="sidenav-label">Profile</span>
    </a>
</li>
<li class="sidenav-item">
    <a href="drive.html">
        <span class="sidenav-icon icon icon-works">&#231;</span>
        <span class="sidenav-label">Drive</span>
    </a>
</li>
<li class="sidenav-item">
    <a href="landing-page.html" target="_blank">
        <span class="sidenav-icon icon icon-works">&#34;</span>
        <span class="sidenav-label">Landing Page</span>
    </a>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#91;</span>
        <span class="sidenav-label">E-commerce</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">E-commerce</li>
        <li>
            <a href="store.html">Store</a>
        </li>
        <li>
            <a href="shopping-cart.html">Shopping cart</a>
        </li>
        <li>
            <a href="product.html">Product</a>
        </li>
    </ul>
</li>
<li class="sidenav-item has-subnav">
    <a href="#" aria-haspopup="true">
        <span class="sidenav-icon icon icon-works">&#68;</span>
        <span class="sidenav-label">Other pages</span>
    </a>
    <ul class="sidenav level-2 collapse">
        <li class="sidenav-heading">Other pages</li>
        <li>
            <a href="blank-page.html">Blank Page</a>
        </li>
        <li>
            <a href="404.html" target="_blank">404</a>
        </li>
        <li>
            <a href="500.html" target="_blank">500</a>
        </li>
        <li>
            <a href="invoice.html">Invoice</a>
        </li>
    </ul>
</li>
</ul>
</nav>
</div>
</div>
</div> <!--YAN MENU-->

<div class="layout-content">
    <div class="layout-content-body">
        @RenderBody()
    </div>
</div> <!--ICERİK-->

</div>


<script src="../../Content/admin/js/vendor.min.js"></script>
<script src="../../Content/admin/js/elephant.min.js"></script>
<script src="../../Content/admin/js/application.min.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>
<script src="~/Content/js/mdb.js"></script>
<script src="~/Content/js/popper.min.js"></script>
</body>

</html>