@model DAL.DB.Project

@{
    ViewBag.Title = "ProjectImageAdd";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}


<link href="~/Content/dropzone/css/basic.min.css" rel="stylesheet" />
<link href="~/Content/dropzone/css/dropzone.min.css" rel="stylesheet" />
<script src="~/Content/dropzone/js/dropzone.min.js"></script>


<script src="~/Content/dropzone/js/dropzone-amd-module.min.js"></script>


<style>
    
    #overlay{
        margin-top: 100px;
        position:fixed;
        top:0;
        width:80%; height:80%;
        background-repeat:no-repeat;
        background-position: center center;
        cursor:pointer;
        z-index: 101;
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
    }
    .img-wrap .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
        background-color: #FFF;
        padding: 5px 2px 2px;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        opacity: .2;
        text-align: center;
        font-size: 22px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wrap:hover .close {
        opacity: 1;
    }
</style>

<div class="row gutter-xs">
    <div class="col-xs-12 col-md-6 col-lg-12">

        <div class="card">
            <div class="card-body">
                <div class="md-form col-sm-12">
                    Tekil Proje Adi
                    <input type="text" id="projectUniqeName" class="form-control" value="@Model.ProjectNameUnique" readonly>
                    <input type="hidden" value="@Model.Id" id="projectID"/>
                </div>
                <div class="md-form col-sm-12">
                    Proje Adi
                    <input type="text" id="projectName" class="form-control" value="@Model.Title" >
                </div>
                <div class="md-form col-sm-12">
                    Proje Açıklaması:
                    <textarea type="text" id="projectComment"  class="md-textarea">@Model.Comment</textarea>
                </div>
                <div class="md-form col-sm-12">
                    Alt Taraf Proje Adi
                    <input type="text" id="projectNameSecond" class="form-control" value="@Model.TitleSecond" >
                </div>
                <div class="md-form col-sm-10">
                    <div class="file-field" style="position: static !important">
                        <div class="btn btn-secondary btn-lg">
                            <span>Ana Resim</span>
                            <input id="file" name="file" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text"  placeholder="@((Model.MainPicturePath != null) ? "Resim yüklü.Degiştirmek için yeniden yükle." : "Resim yükle")">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img width="100" onclick="imgzoom(this)" src="@Model.MainPicturePath" />
                </div>
                <div id="overlay">
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-secondary" style="z-index: 2">Bilgileri Güncelle</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body" id="imageList">
            </div>
        </div>
        <div class="jumbotron">
            <form action="@Url.Action("FileUpload", "Admin")" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    <input name="file" type="file" multiple/>
                    <input type="submit" value="Upload"/>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">



    $(document).ready(function () {
        getProjectImages();
    });


    //File Upload response from the server
    Dropzone.options.dropzoneForm = {
        maxFiles: 10,
        url: "@Url.Action("FileUpload", "Admin")",
        init: function () {
            this.on("maxfilesexceeded", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
            });
            this.on("sending", function (file, xhr, formData) {
                var id = $('#projectID').val();
                formData.append("projectID", id);
            });
            this.on("success", function(file, responseText) {
                getProjectImages();
            });
            this.on("addedfile", function (file) {
                // Create the remove button
                var removeButton = Dropzone.createElement('<button class="btn btn-danger">Remove file</button>');
                // Capture the Dropzone instance as closure.
                var _this = this;
                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();
                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });
        }
    };


    function getProjectImages() {

        var id = $('#projectID').val();
        
        $('#imageList').empty();

        $.ajax({
            url: '/Admin/getProjectImages',
            type: 'POST',
            data: { 'id': id },
            dataType: 'json',
            beforeSend: function () {
                $("div#divLoading").addClass("show");
            },
            success: function (data) {
                if (data != "") {
                    data.forEach(function(element) {
                        $('#imageList').prepend(
                            '<div class="img-wrap"><span onclick="deleteImage(this)" class="close">&times;</span> <img onclick="imgzoom(this)" data-id=' +
                            element.Id +
                            ' style="height: 100px;margin-right:10px;margin-top:10px"' +
                            element.Id +
                            '" src="' +
                            element.ImagePath +
                            '" /></div>');
                    });
                } else {
                    $('#imageList').prepend("Herhangi bir proje resmi eklenmemiş.");
                }      
            },
            complete: function () {
                $("div#divLoading").removeClass("show");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.success('Daha projeye resim eklenmemiş, Tatlisim ❤');
            }
        });
    }





    $ovr = $('#overlay');

    function imgzoom(event) {
        
        $ovr.fadeTo(600, 1).css({
            backgroundImage: "url(" + event.src + ")"
        });
        
    
    }

    $ovr.click(function () {
        $(this).stop().fadeTo(600, 0, function () {
            $(this).hide();
        });
    });

    function deleteImage(event) {
        var id = $(event).closest('.img-wrap').find('img').data('id');

        $.ajax({
            url: '/Admin/setDeletedImages',
            type: 'POST',
            data: { 'id': id },
            dataType: 'json',
            beforeSend: function () {
                $("div#divLoading").addClass("show");
            },
            success: function (data) {
                if (data === "true") {
                    getProjectImages();
                    toastr.success('Proje resmi silme başarılı, Tatlisim ❤');
                } else {
                    toastr.success('Proje resmi başarısız oldu, Tatlisim ❤');
                }
            },
            complete: function () {
                $("div#divLoading").removeClass("show");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                toastr.success('Daha sonra tekrar dene, Tatlisim ❤');
            }
        });
    }

</script>
<script src="~/Content/admin/js/compiled.min474a.js"></script>
