@model IEnumerable<DAL.DB.Project>

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/js/core.js"></script>
<style>
    img {
        height: 390px !important;
    }
</style>

<div class="content-holder elem scale-bg2 transition3">
    <div class="content  mm">
        <div class="filter-holder fixed-filter">
            <div class="gallery-filters vis-filter">
                <a href="#" class="gallery-filter gallery-filter-active" data-filter="*">All</a>
                <!-- <a href="#" class="gallery-filter " data-filter=".houses">Houses</a>-->
                <a href="#" class="gallery-filter" data-filter=".industrial">Industrial</a>
                <a href="#" class="gallery-filter" data-filter=".interior">Interior</a>
            </div>
        </div>
        <div class="wrapper-inner no-padding full-width-wrap">
            <section class="no-padding no-border">
                <div class="gallery-items   hid-port-info">

                    @{
                        if (Model != null)
                        {
                            foreach (var project in Model)
                            {
                                <div class="gallery-item @project.Type">
                                    <div class="grid-item-holder">
                                        <div class="box-item">
                                            <a href="@Url.Action("Detail","Home",new {id=project.ProjectNameUnique})" class="ajax">
                                                <span class="overlay"></span>
                                                <img src="@project.MainPicturePath"  alt="@project.Title">
                                            </a>
                                        </div>
                                        <div class="grid-item ">
                                            <h3>
                                                <a href="@Url.Action("Detail","Home",new {id=project.ProjectNameUnique})" class="ajax portfolio-link">@project.Title</a>
                                            </h3>
                                            <span>SKartal Design</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }    
                </div>
                <!-- end gallery items -->
            </section>
        </div>
    </div>
</div>



